.btn {
	@include rem(font-size, 24px);
	@include rem(padding, 15px 0);
	text-align: center;
	text-decoration: none;
	border: none;
	&.btn-orange {
		background-color: #f08237;
		color: #fff;
	}
	&.btn-block {
		width: 100%;
		display: block;
	}
}