input[type="text"], input[type="email"], input[type="tel"], input[type="url"], textarea {
	@include rem(font-size, 24px);
	@include rem(padding, 20px 35px);
	@include rem(margin, 10px 0);
  width: 100%;
	background-color: #434447;
	border: none;
	color: #fff;
	&::-webkit-input-placeholder {
	  color: #fff;
	  font-weight: 300;
	  font-style: italic;
	}

	&:-moz-placeholder {
	  color: #fff;
	  font-weight: 300;
	  font-style: italic;
	}

	&::-moz-placeholder {
	  color: #fff;
	  font-weight: 300;
	  font-style: italic;
	}

	&:-ms-input-placeholder {  
	  color: #fff;
	  font-weight: 300;
	  font-style: italic;
	}
}
textarea {
	@include rem(height, 280px);
	resize: none;
}