* {
  box-sizing: border-box;
  &:before, &:after {
    box-sizing: border-box;
  }
}
html {
  @include rem-baseline;
}
html {
  font-size: 1vh;
  @include desktop {
    @include rem-baseline;
  }
}
body {
  font-family: $font-family-base;
  @include rem(font-size, 18px);
  @include rem(line-height, 30px);
}
.container {
  position: relative;
  margin: 0 auto;
  max-width: 1260px;
  &.is-fluid {
    margin: 0 20px;
    max-width: none;
  }
}
.column {
  flex: 1;
  // default grid
  @for $i from 1 through 12 {
    &.is-#{$i} {
      flex: none;
      width: $i / 12 * 100%;
      @if $i == 12 {
        margin-left: 0;
      }
    }
    &.is-offset-#{$i} {
      margin-left: $i / 12 * 100%;
    }
    &.is-#{$i}-tablet {
      flex: none;
      width: $i / 12 * 100%;
      @if $i == 12 {
        margin-left: 0;
      }
    }
    &.is-offset-#{$i}-tablet {
      margin-left: $i / 12 * 100%;
    }
  }
  // widescreen grid
  @include widescreen {
    @for $i from 1 through 12 {
      &.is-#{$i}-widescreen {
        flex: none;
        width: $i / 12 * 100%;
        @if $i == 12 {
          margin-left: 0;
        }
      }
      &.is-offset-#{$i}-widescreen {
        margin-left: $i / 12 * 100%;
      }
    }
  }
  // desktop grid
  @include desktop {
    @for $i from 1 through 12 {
      &.is-#{$i}-desktop {
        flex: none;
        width: $i / 12 * 100%;
        @if $i == 12 {
          margin-left: 0;
        }
      }
      &.is-offset-#{$i}-desktop {
        margin-left: $i / 12 * 100%;
      }
    }
  }
  // mobile grid
  @include mobile {
    @for $i from 1 through 12 {
      &.is-#{$i}-mobile {
        flex: none;
        width: $i / 12 * 100%;
        @if $i == 12 {
          margin-left: 0;
        }
      }
      &.is-offset-#{$i}-mobile {
        margin-left: $i / 12 * 100%;
      }
    }
  }
}

.columns {
  display: flex;
  &.space-20 {
    @include rem(margin, 0 -20px);
    & > .column {
      @include rem(padding, 0 20px);
    }
  }
  &.is-centered {
    justify-content: center;
  }
  &.is-gapless {
    margin-left: 0;
    margin-right: 0;
    &:not(:last-child) {
      @include rem(margin-bottom, 20px);
    }
    & > .column {
      margin: 0;
      padding: 0;
    }
  }
  &.is-multiline {
    flex-wrap: wrap;
  }
  &.is-vcentered {
    align-items: center;
  }
  &.is-grid {
    @include tablet {
      flex-wrap: wrap;
      & > .column {
        flex-basis: 33.3333%;
        max-width: 33.3333%;
        @include rem(padding, 10px);
        width: 33.3333%;
        & + .column {
          margin-left: 0;
        }
      }
    }
  }
}
.content-md {
  @include rem(padding, 16px 20px);
  .content-fluid {
    @include rem(margin-left, -20px);
    @include rem(margin-right, -20px);
  }
}

html, body {
  height: 100%;
  min-height: 100%;
}
.flex {
  display: flex;
}
.layout-vertical {
  display: flex;
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.flex-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}