.icon {
	display: inline-block;
}
.icon-block {
	display: block;
	margin: 0 auto;
}
.icon-phone {
	background: url('#{$images}/icon-phone.png') 0 0 no-repeat;
	background-size: 100%;
	@include rem(width, 64px);
	@include rem(height, 65px);
}
.icon-mail {
	background: url('#{$images}/icon-mail.png') 0 0 no-repeat;
	background-size: 100%;
	@include rem(width, 98px);
	@include rem(height, 61px);
}
.icon-clock {
	background: url('#{$images}/icon-clock.png') 0 0 no-repeat;
	background-size: 100%;
	@include rem(width, 18px);
	@include rem(height, 18px);
}
.icon-arrow-left {
	background: url('#{$images}/icon-arrow-left.png') 0 0 no-repeat;
	background-size: 100%;
	@include rem(width, 42px);
	@include rem(height, 42px);
}
.icon-arrow-right {
	background: url('#{$images}/icon-arrow-right.png') 0 0 no-repeat;
	background-size: 100%;
	@include rem(width, 42px);
	@include rem(height, 42px);
}
.icon-arrow-orange {
	background: url('#{$images}/arrow-orange.png') 0 0 no-repeat;
	background-size: 100%;
	@include rem(width, 19px);
	@include rem(height, 26px);
}