.list-orange {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
    position: relative;
    @include rem(padding-bottom, 25px);
    @include rem(padding-left, 35px);
    &:before {
      content: '';
      position: absolute;
      left: 0;
      @include rem(top, 5px);
      background: url('#{$images}/arrow-orange.png') 0 0 no-repeat;
      background-size: 100%;
      @include rem(width, 19px);
      @include rem(height, 26px);
    }
	}
}