@font-face{ 
  font-family: 'proxima-nova';
  src: url('#{$fonts}/proxima-nova-regular.eot');
  src: url('#{$fonts}/proxima-nova-regular.eot?#iefix') format('embedded-opentype'),
    url('#{$fonts}/proxima-nova-regular.woff') format('woff'),
    url('#{$fonts}/proxima-nova-regular.ttf') format('truetype'),
    url('#{$fonts}/proxima-nova-regular.svg#webfont') format('svg');
}
@font-face{ 
  font-family: 'proxima-nova';
  src: url('#{$fonts}/proxima-nova-bold.eot');
  src: url('#{$fonts}/proxima-nova-bold.eot?#iefix') format('embedded-opentype'),
    url('#{$fonts}/proxima-nova-bold.woff') format('woff'),
    url('#{$fonts}/proxima-nova-bold.ttf') format('truetype'),
    url('#{$fonts}/proxima-nova-bold.svg#webfont') format('svg');
  font-weight: 700;
}
@font-face{ 
  font-family: 'proxima-nova';
  src: url('#{$fonts}/proxima-nova-light.eot');
  src: url('#{$fonts}/proxima-nova-light.eot?#iefix') format('embedded-opentype'),
    url('#{$fonts}/proxima-nova-light.woff') format('woff'),
    url('#{$fonts}/proxima-nova-light.ttf') format('truetype'),
    url('#{$fonts}/proxima-nova-light.svg#webfont') format('svg');
  font-weight: 300;
}
@font-face{ 
  font-family: 'proxima-nova';
  src: url('#{$fonts}/proxima-nova-thin-light.eot');
  src: url('#{$fonts}/proxima-nova-thin-light.eot?#iefix') format('embedded-opentype'),
    url('#{$fonts}/proxima-nova-thin-light.woff') format('woff'),
    url('#{$fonts}/proxima-nova-thin-light.ttf') format('truetype'),
    url('#{$fonts}/proxima-nova-thin-light.svg#webfont') format('svg');
  font-weight: 300;
  font-style: italic;
}

h1, .h1 {
  @include rem(font-size, 48px);
  @include rem(line-height, 30px);
  font-weight: 400;
  text-transform: uppercase;
  @include desktop {
    font-size: 36px;
    line-height: 46px;
  }
}
h2, .h2 {
  @include rem(font-size, 30px);
  @include rem(line-height, 30px);
  font-weight: 400;
  text-transform: uppercase;
}

.font-base {
  font-family: 'Noto Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
};
.font-nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
};
.entry-title, .page-title {
  @include rem(margin, 55px 0);
  text-align: center;
}