.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.color-green-500 {
  color: #4CAF50; }

.color-pink-300 {
  color: #F06292; }

.float-right {
  float: right; }

.color-blue-700 {
  color: #1976d2; }

.color-yellow-600 {
  color: #FDD835; }

.color-red-600 {
  color: #E53935; }

.is-block {
  display: block; }

.is-inline {
  display: inline; }

.is-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.is-clearfix:after {
  clear: both;
  content: " ";
  display: table; }

.is-pulled-left {
  float: left; }

.is-pulled-right {
  float: right; }

.is-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.is-fullwidth {
  width: 100%; }

.is-text-centered {
  text-align: center; }

.is-text-left {
  text-align: left; }

.is-text-right {
  text-align: right; }

@media screen and (max-width: 599px) {
  .is-hidden-mobile {
    display: none !important; } }

@media screen and (min-width: 600px) {
  .is-hidden-tablet {
    display: none !important; } }

@media screen and (max-width: 979px) {
  .is-hidden-touch {
    display: none !important; } }

@media screen and (max-width: 980px) {
  .is-hidden-desktop {
    display: none !important; } }

.is-disabled {
  pointer-events: none; }

.is-marginless {
  margin: 0 !important; }

.is-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.list-clear, .requisites {
  margin: 0;
  padding: 0;
  list-style: none; }

.text-uppercase {
  text-transform: uppercase; }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

body {
  font-family: "proxima-nova", sans-serif;
  font-size: 18px;
  line-height: 30px; }

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1260px; }
  .container.is-fluid {
    margin: 0 20px;
    max-width: none; }

.column {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  @media screen and (min-width: 600px) {
    .column.is-1 {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 8.33333%; }
    .column.is-offset-1 {
      margin-left: 8.33333%; }
    .column.is-1-tablet {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 8.33333%; }
    .column.is-offset-1-tablet {
      margin-left: 8.33333%; }
    .column.is-2 {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 16.66667%; }
    .column.is-offset-2 {
      margin-left: 16.66667%; }
    .column.is-2-tablet {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 16.66667%; }
    .column.is-offset-2-tablet {
      margin-left: 16.66667%; }
    .column.is-3 {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 25%; }
    .column.is-offset-3 {
      margin-left: 25%; }
    .column.is-3-tablet {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 25%; }
    .column.is-offset-3-tablet {
      margin-left: 25%; }
    .column.is-4 {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 33.33333%; }
    .column.is-offset-4 {
      margin-left: 33.33333%; }
    .column.is-4-tablet {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 33.33333%; }
    .column.is-offset-4-tablet {
      margin-left: 33.33333%; }
    .column.is-5 {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 41.66667%; }
    .column.is-offset-5 {
      margin-left: 41.66667%; }
    .column.is-5-tablet {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 41.66667%; }
    .column.is-offset-5-tablet {
      margin-left: 41.66667%; }
    .column.is-6 {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 50%; }
    .column.is-offset-6 {
      margin-left: 50%; }
    .column.is-6-tablet {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 50%; }
    .column.is-offset-6-tablet {
      margin-left: 50%; }
    .column.is-7 {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 58.33333%; }
    .column.is-offset-7 {
      margin-left: 58.33333%; }
    .column.is-7-tablet {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 58.33333%; }
    .column.is-offset-7-tablet {
      margin-left: 58.33333%; }
    .column.is-8 {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 66.66667%; }
    .column.is-offset-8 {
      margin-left: 66.66667%; }
    .column.is-8-tablet {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 66.66667%; }
    .column.is-offset-8-tablet {
      margin-left: 66.66667%; }
    .column.is-9 {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 75%; }
    .column.is-offset-9 {
      margin-left: 75%; }
    .column.is-9-tablet {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 75%; }
    .column.is-offset-9-tablet {
      margin-left: 75%; }
    .column.is-10 {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 83.33333%; }
    .column.is-offset-10 {
      margin-left: 83.33333%; }
    .column.is-10-tablet {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 83.33333%; }
    .column.is-offset-10-tablet {
      margin-left: 83.33333%; }
    .column.is-11 {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 91.66667%; }
    .column.is-offset-11 {
      margin-left: 91.66667%; }
    .column.is-11-tablet {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 91.66667%; }
    .column.is-offset-11-tablet {
      margin-left: 91.66667%; }
    .column.is-12 {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 100%;
      margin-left: 0; }
    .column.is-offset-12 {
      margin-left: 100%; }
    .column.is-12-tablet {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 100%;
      margin-left: 0; }
    .column.is-offset-12-tablet {
      margin-left: 100%; } }
  @media screen and (max-width: 1180px) {
    .column.is-1-widescreen {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 8.33333%; }
    .column.is-offset-1-widescreen {
      margin-left: 8.33333%; }
    .column.is-2-widescreen {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 16.66667%; }
    .column.is-offset-2-widescreen {
      margin-left: 16.66667%; }
    .column.is-3-widescreen {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 25%; }
    .column.is-offset-3-widescreen {
      margin-left: 25%; }
    .column.is-4-widescreen {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 33.33333%; }
    .column.is-offset-4-widescreen {
      margin-left: 33.33333%; }
    .column.is-5-widescreen {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 41.66667%; }
    .column.is-offset-5-widescreen {
      margin-left: 41.66667%; }
    .column.is-6-widescreen {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 50%; }
    .column.is-offset-6-widescreen {
      margin-left: 50%; }
    .column.is-7-widescreen {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 58.33333%; }
    .column.is-offset-7-widescreen {
      margin-left: 58.33333%; }
    .column.is-8-widescreen {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 66.66667%; }
    .column.is-offset-8-widescreen {
      margin-left: 66.66667%; }
    .column.is-9-widescreen {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 75%; }
    .column.is-offset-9-widescreen {
      margin-left: 75%; }
    .column.is-10-widescreen {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 83.33333%; }
    .column.is-offset-10-widescreen {
      margin-left: 83.33333%; }
    .column.is-11-widescreen {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 91.66667%; }
    .column.is-offset-11-widescreen {
      margin-left: 91.66667%; }
    .column.is-12-widescreen {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 100%;
      margin-left: 0; }
    .column.is-offset-12-widescreen {
      margin-left: 100%; } }
  @media screen and (max-width: 980px) {
    .column.is-1-desktop {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 8.33333%; }
    .column.is-offset-1-desktop {
      margin-left: 8.33333%; }
    .column.is-2-desktop {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 16.66667%; }
    .column.is-offset-2-desktop {
      margin-left: 16.66667%; }
    .column.is-3-desktop {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 25%; }
    .column.is-offset-3-desktop {
      margin-left: 25%; }
    .column.is-4-desktop {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 33.33333%; }
    .column.is-offset-4-desktop {
      margin-left: 33.33333%; }
    .column.is-5-desktop {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 41.66667%; }
    .column.is-offset-5-desktop {
      margin-left: 41.66667%; }
    .column.is-6-desktop {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 50%; }
    .column.is-offset-6-desktop {
      margin-left: 50%; }
    .column.is-7-desktop {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 58.33333%; }
    .column.is-offset-7-desktop {
      margin-left: 58.33333%; }
    .column.is-8-desktop {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 66.66667%; }
    .column.is-offset-8-desktop {
      margin-left: 66.66667%; }
    .column.is-9-desktop {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 75%; }
    .column.is-offset-9-desktop {
      margin-left: 75%; }
    .column.is-10-desktop {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 83.33333%; }
    .column.is-offset-10-desktop {
      margin-left: 83.33333%; }
    .column.is-11-desktop {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 91.66667%; }
    .column.is-offset-11-desktop {
      margin-left: 91.66667%; }
    .column.is-12-desktop {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 100%;
      margin-left: 0; }
    .column.is-offset-12-desktop {
      margin-left: 100%; } }
  @media screen and (max-width: 599px) {
    .column.is-1-mobile {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 8.33333%; }
    .column.is-offset-1-mobile {
      margin-left: 8.33333%; }
    .column.is-2-mobile {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 16.66667%; }
    .column.is-offset-2-mobile {
      margin-left: 16.66667%; }
    .column.is-3-mobile {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 25%; }
    .column.is-offset-3-mobile {
      margin-left: 25%; }
    .column.is-4-mobile {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 33.33333%; }
    .column.is-offset-4-mobile {
      margin-left: 33.33333%; }
    .column.is-5-mobile {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 41.66667%; }
    .column.is-offset-5-mobile {
      margin-left: 41.66667%; }
    .column.is-6-mobile {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 50%; }
    .column.is-offset-6-mobile {
      margin-left: 50%; }
    .column.is-7-mobile {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 58.33333%; }
    .column.is-offset-7-mobile {
      margin-left: 58.33333%; }
    .column.is-8-mobile {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 66.66667%; }
    .column.is-offset-8-mobile {
      margin-left: 66.66667%; }
    .column.is-9-mobile {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 75%; }
    .column.is-offset-9-mobile {
      margin-left: 75%; }
    .column.is-10-mobile {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 83.33333%; }
    .column.is-offset-10-mobile {
      margin-left: 83.33333%; }
    .column.is-11-mobile {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 91.66667%; }
    .column.is-offset-11-mobile {
      margin-left: 91.66667%; }
    .column.is-12-mobile {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 100%;
      margin-left: 0; }
    .column.is-offset-12-mobile {
      margin-left: 100%; } }

.columns {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  .columns.is-centered {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .columns.is-gapless {
    margin-left: 0;
    margin-right: 0; }
    .columns.is-gapless:not(:last-child) {
      margin-bottom: 20px; }
    .columns.is-gapless > .column {
      margin: 0;
      padding: 0; }
  .columns.is-multiline {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .columns.is-vcentered {
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center; }
  @media screen and (min-width: 600px) {
    .columns.is-grid {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      .columns.is-grid > .column {
        -webkit-flex-basis: 33.3333%;
            -ms-flex-preferred-size: 33.3333%;
                flex-basis: 33.3333%;
        max-width: 33.3333%;
        padding: 10px;
        width: 33.3333%; }
        .columns.is-grid > .column + .column {
          margin-left: 0; } }

.content-md {
  padding: 16px 20px; }
  .content-md .content-fluid {
    margin-left: -20px;
    margin-right: -20px; }

html, body {
  height: 100%;
  min-height: 100%; }

.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

@font-face {
  font-family: 'proxima-nova';
  src: url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-regular.eot");
  src: url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-regular.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-regular.woff") format("woff"), url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-regular.ttf") format("truetype"), url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-regular.svg#webfont") format("svg"); }

@font-face {
  font-family: 'proxima-nova';
  src: url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-bold.eot");
  src: url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-bold.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-bold.woff") format("woff"), url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-bold.ttf") format("truetype"), url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-bold.svg#webfont") format("svg");
  font-weight: 700; }

@font-face {
  font-family: 'proxima-nova';
  src: url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-light.eot");
  src: url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-light.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-light.woff") format("woff"), url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-light.ttf") format("truetype"), url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-light.svg#webfont") format("svg");
  font-weight: 300; }

@font-face {
  font-family: 'proxima-nova';
  src: url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-thin-light.eot");
  src: url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-thin-light.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-thin-light.woff") format("woff"), url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-thin-light.ttf") format("truetype"), url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-thin-light.svg#webfont") format("svg");
  font-weight: 300;
  font-style: italic; }

h1, .h1 {
  font-size: 48px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase; }

h2, .h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase; }

.font-base {
  font-family: 'Noto Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased; }

.font-nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.entry-title {
  margin: 55px 0;
  text-align: center; }

.list-orange {
  list-style: none;
  padding: 0;
  margin: 0; }
  .list-orange li {
    background: url("/wp-content/themes/twentyfifteen/images/arrow-orange.png") 0 0 no-repeat;
    padding-bottom: 25px;
    padding-left: 35px; }

.btn {
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  padding: 15px 0;
  border: none; }
  .btn.btn-orange {
    background-color: #f08237;
    color: #fff; }
  .btn.btn-block {
    width: 100%;
    display: block; }

.icon {
  display: inline-block; }

.icon-block {
  display: block;
  margin: 0 auto; }

.icon-phone {
  background: url("/images/icon-phone.png") 0 0 no-repeat;
  width: 64px;
  height: 65px; }

.icon-mail {
  background: url("/images/icon-mail.png") 0 0 no-repeat;
  width: 98px;
  height: 61px; }

input[type="text"], input[type="email"], input[type="tel"], textarea {
  background-color: #434447;
  border: none;
  font-size: 24px;
  margin: 10px 0;
  padding: 20px 35px;
  color: #fff; }
  input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #fff;
    font-weight: 300;
    font-style: italic; }
  input[type="text"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, textarea:-moz-placeholder {
    color: #fff;
    font-weight: 300;
    font-style: italic; }
  input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, textarea::-moz-placeholder {
    color: #fff;
    font-weight: 300;
    font-style: italic; }
  input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #fff;
    font-weight: 300;
    font-style: italic; }

textarea {
  height: 280px;
  resize: none; }

.sidebar {
  width: 480px;
  background-color: #222327;
  color: #fff; }

.nav {
  text-align: center;
  margin-top: 65px; }
  .nav ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .nav li.current_page_item a {
    color: #f08237; }
  .nav li:hover a {
    color: #f08237; }
  .nav a {
    display: block;
    font-size: 30px;
    line-height: 60px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase; }

.social {
  list-style: none;
  padding: 0;
  margin: 0; }

.person-about {
  padding: 35px 0;
  text-align: center;
  background-color: #171719;
  font-size: 16px;
  line-height: 24px; }
  .person-about h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700; }
    .person-about h2:after {
      content: '';
      display: block;
      background-color: #f08237;
      width: 50px;
      height: 2px;
      margin: 0 auto;
      margin-top: 25px; }

.person-img {
  line-height: 0; }

.main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 480px);
  background-color: #f2f2f2; }

.page {
  width: 100%; }

.numbers {
  background-color: #222327;
  color: #fff;
  padding: 35px 0 25px;
  overflow: hidden; }

.wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%; }

.content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 10%; }

.numbers-single {
  text-align: center; }
  .numbers-single span {
    display: block;
    font-size: 80px;
    line-height: 44px;
    font-weight: 700;
    padding-bottom: 35px;
    text-shadow: #1b1c1f 1px 1px, #1b1c1f 2px 2px, #1b1c1f 3px 3px, #1b1c1f 4px 4px, #1b1c1f 5px 5px, #1b1c1f 6px 6px, #1b1c1f 7px 7px, #1b1c1f 8px 8px, #1b1c1f 9px 9px, #1b1c1f 10px 10px, #1b1c1f 11px 11px, #1b1c1f 12px 12px, #1b1c1f 13px 13px, #1b1c1f 14px 14px, #1b1c1f 15px 15px, #1b1c1f 16px 16px, #1b1c1f 17px 17px, #1b1c1f 18px 18px, #1b1c1f 19px 19px, #1b1c1f 20px 20px, #1b1c1f 21px 21px, #1b1c1f 22px 22px, #1b1c1f 23px 23px, #1b1c1f 24px 24px, #1b1c1f 25px 25px, #1b1c1f 26px 26px, #1b1c1f 27px 27px, #1b1c1f 28px 28px, #1b1c1f 29px 29px, #1b1c1f 30px 30px, #1b1c1f 31px 31px, #1b1c1f 32px 32px, #1b1c1f 33px 33px, #1b1c1f 34px 34px, #1b1c1f 35px 35px, #1b1c1f 36px 36px, #1b1c1f 37px 37px, #1b1c1f 38px 38px, #1b1c1f 39px 39px, #1b1c1f 40px 40px, #1b1c1f 41px 41px, #1b1c1f 42px 42px, #1b1c1f 43px 43px, #1b1c1f 44px 44px, #1b1c1f 45px 45px, #1b1c1f 46px 46px, #1b1c1f 47px 47px, #1b1c1f 48px 48px, #1b1c1f 49px 49px, #1b1c1f 50px 50px, #1b1c1f 51px 51px, #1b1c1f 52px 52px, #1b1c1f 53px 53px, #1b1c1f 54px 54px, #1b1c1f 55px 55px, #1b1c1f 56px 56px, #1b1c1f 57px 57px, #1b1c1f 58px 58px, #1b1c1f 59px 59px, #1b1c1f 60px 60px, #1b1c1f 61px 61px, #1b1c1f 62px 62px, #1b1c1f 63px 63px, #1b1c1f 64px 64px, #1b1c1f 65px 65px, #1b1c1f 66px 66px, #1b1c1f 67px 67px, #1b1c1f 68px 68px, #1b1c1f 69px 69px, #1b1c1f 70px 70px, #1b1c1f 71px 71px, #1b1c1f 72px 72px, #1b1c1f 73px 73px, #1b1c1f 74px 74px, #1b1c1f 75px 75px, #1b1c1f 76px 76px, #1b1c1f 77px 77px, #1b1c1f 78px 78px, #1b1c1f 79px 79px, #1b1c1f 80px 80px, #1b1c1f 81px 81px, #1b1c1f 82px 82px, #1b1c1f 83px 83px, #1b1c1f 84px 84px, #1b1c1f 85px 85px, #1b1c1f 86px 86px, #1b1c1f 87px 87px, #1b1c1f 88px 88px, #1b1c1f 89px 89px, #1b1c1f 90px 90px, #1b1c1f 91px 91px, #1b1c1f 92px 92px, #1b1c1f 93px 93px, #1b1c1f 94px 94px, #1b1c1f 95px 95px, #1b1c1f 96px 96px, #1b1c1f 97px 97px, #1b1c1f 98px 98px, #1b1c1f 99px 99px, #1b1c1f 100px 100px, #1b1c1f 101px 101px, #1b1c1f 102px 102px, #1b1c1f 103px 103px, #1b1c1f 104px 104px, #1b1c1f 105px 105px, #1b1c1f 106px 106px, #1b1c1f 107px 107px, #1b1c1f 108px 108px, #1b1c1f 109px 109px, #1b1c1f 110px 110px, #1b1c1f 111px 111px, #1b1c1f 112px 112px, #1b1c1f 113px 113px, #1b1c1f 114px 114px, #1b1c1f 115px 115px, #1b1c1f 116px 116px, #1b1c1f 117px 117px, #1b1c1f 118px 118px, #1b1c1f 119px 119px, #1b1c1f 120px 120px, #1b1c1f 121px 121px, #1b1c1f 122px 122px, #1b1c1f 123px 123px, #1b1c1f 124px 124px, #1b1c1f 125px 125px, #1b1c1f 126px 126px, #1b1c1f 127px 127px, #1b1c1f 128px 128px, #1b1c1f 129px 129px, #1b1c1f 130px 130px, #1b1c1f 131px 131px, #1b1c1f 132px 132px, #1b1c1f 133px 133px, #1b1c1f 134px 134px, #1b1c1f 135px 135px, #1b1c1f 136px 136px, #1b1c1f 137px 137px, #1b1c1f 138px 138px, #1b1c1f 139px 139px, #1b1c1f 140px 140px, #1b1c1f 141px 141px, #1b1c1f 142px 142px, #1b1c1f 143px 143px, #1b1c1f 144px 144px, #1b1c1f 145px 145px, #1b1c1f 146px 146px, #1b1c1f 147px 147px, #1b1c1f 148px 148px, #1b1c1f 149px 149px, #1b1c1f 150px 150px, #1b1c1f 151px 151px, #1b1c1f 152px 152px, #1b1c1f 153px 153px, #1b1c1f 154px 154px, #1b1c1f 155px 155px, #1b1c1f 156px 156px, #1b1c1f 157px 157px, #1b1c1f 158px 158px, #1b1c1f 159px 159px, #1b1c1f 160px 160px, #1b1c1f 161px 161px, #1b1c1f 162px 162px, #1b1c1f 163px 163px, #1b1c1f 164px 164px, #1b1c1f 165px 165px, #1b1c1f 166px 166px, #1b1c1f 167px 167px, #1b1c1f 168px 168px, #1b1c1f 169px 169px, #1b1c1f 170px 170px, #1b1c1f 171px 171px, #1b1c1f 172px 172px, #1b1c1f 173px 173px, #1b1c1f 174px 174px, #1b1c1f 175px 175px, #1b1c1f 176px 176px, #1b1c1f 177px 177px, #1b1c1f 178px 178px, #1b1c1f 179px 179px, #1b1c1f 180px 180px, #1b1c1f 181px 181px, #1b1c1f 182px 182px, #1b1c1f 183px 183px, #1b1c1f 184px 184px, #1b1c1f 185px 185px, #1b1c1f 186px 186px, #1b1c1f 187px 187px, #1b1c1f 188px 188px, #1b1c1f 189px 189px, #1b1c1f 190px 190px, #1b1c1f 191px 191px, #1b1c1f 192px 192px, #1b1c1f 193px 193px, #1b1c1f 194px 194px, #1b1c1f 195px 195px, #1b1c1f 196px 196px, #1b1c1f 197px 197px, #1b1c1f 198px 198px, #1b1c1f 199px 199px, #1b1c1f 200px 200px; }

.post {
  background-color: #ffffff;
  padding: 40px;
  margin: 60px 0; }
  .post .entry-title {
    line-height: 60px;
    text-transform: none;
    margin: 0 0 40px; }

.post-date {
  text-align: center; }

.accordion-content {
  display: none;
  color: #666666;
  font-size: 14px;
  line-height: 24px;
  padding: 25px 70px;
  border-top: 1px solid #e1e1e1; }

.accordion-title {
  background: url("/wp-content/themes/twentyfifteen/images/plus-blue.png") 25px 30px no-repeat;
  padding: 25px 70px;
  cursor: pointer; }

.accordion-single {
  background-color: #fff;
  margin: 20px 0; }
  .accordion-single.active .accordion-title {
    background: url("/wp-content/themes/twentyfifteen/images/minus-blue.png") 25px 40px no-repeat;
    color: #0054aa; }
  .accordion-single.active .accordion-content {
    display: block; }

.faq-page .content {
  padding: 0 20%; }

.contacts-page .content {
  padding: 0; }

.contacts {
  width: 100%;
  text-align: center;
  font-size: 30px; }

.form {
  width: 100%;
  background-color: #222327;
  color: #fff;
  padding: 0 30px; }

.requisites {
  font-size: 24px;
  line-height: 48px;
  margin-top: 80px;
  font-weight: 300; }
  .requisites .text-uppercase {
    font-weight: 400; }

.phone, .mail {
  margin-top: 115px; }
  .phone .icon, .mail .icon {
    margin-bottom: 40px; }

.form form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.form h2 {
  margin-bottom: 30px; }

.form .btn {
  margin-top: 10px; }

.form-desc {
  font-weight: 300;
  text-align: center;
  margin: 0;
  font-size: 24px;
  margin-bottom: 60px; }
