<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Алексей Калиниченко</title>
	<atom:link href="http://ak-agency.com/feed/" rel="self" type="application/rss+xml" />
	<link>http://ak-agency.com</link>
	<description>Патентование и регистрация товарных знаков</description>
	<lastBuildDate>Tue, 20 Sep 2016 19:33:35 +0000</lastBuildDate>
	<language>ru-RU</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Как зарегистрировать цвет в качестве товарного знака?</title>
		<link>http://ak-agency.com/2016/09/14/kak-zaregistrirovat-tsvet-v-kachestve-tovarnogo-znaka/</link>
		<comments>http://ak-agency.com/2016/09/14/kak-zaregistrirovat-tsvet-v-kachestve-tovarnogo-znaka/#respond</comments>
		<pubDate>Wed, 14 Sep 2016 10:16:04 +0000</pubDate>
		<dc:creator><![CDATA[Алексей Калиниченко]]></dc:creator>
				<category><![CDATA[Без рубрики]]></category>
		<category><![CDATA[Товарные знаки]]></category>

		<guid isPermaLink="false">http://ak-agency.com/?p=564</guid>
		<description><![CDATA[Насколько правомерна регистрация цветов Сбербанком, МТС и Газпромом? Какими свойствами должен обладать цвет, чтобы его можно было защитить? Стратегия развития цвета в качестве бренда. Стоит ли опасаться претензий, если вы используете защищённый цвет?]]></description>
		<wfw:commentRss>http://ak-agency.com/2016/09/14/kak-zaregistrirovat-tsvet-v-kachestve-tovarnogo-znaka/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Нужен ли патент для продажи лицензии на изобретение?</title>
		<link>http://ak-agency.com/2016/09/01/kak-prodat-prava-po-patentu-kotorogo-net/</link>
		<comments>http://ak-agency.com/2016/09/01/kak-prodat-prava-po-patentu-kotorogo-net/#respond</comments>
		<pubDate>Thu, 01 Sep 2016 17:08:10 +0000</pubDate>
		<dc:creator><![CDATA[Алексей Калиниченко]]></dc:creator>
				<category><![CDATA[Без рубрики]]></category>
		<category><![CDATA[Патенты]]></category>
		<category><![CDATA[Распоряжение правами]]></category>

		<guid isPermaLink="false">http://ak-agency.com/?p=507</guid>
		<description><![CDATA[Одним из аргументов противников патентования изобретений в ИТ является срок получения патента. Пожалуй, единственное негативное следствие этого срока - сложность лицензирования технологии. Читайте, как можно избежать этих сложностей с минимумом рисков.]]></description>
		<wfw:commentRss>http://ak-agency.com/2016/09/01/kak-prodat-prava-po-patentu-kotorogo-net/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>14 полосок лапши или стратегии патентования</title>
		<link>http://ak-agency.com/2016/08/25/14-polosok-lapshi-ili-kakie-byvayut-patenty/</link>
		<comments>http://ak-agency.com/2016/08/25/14-polosok-lapshi-ili-kakie-byvayut-patenty/#respond</comments>
		<pubDate>Thu, 25 Aug 2016 14:03:34 +0000</pubDate>
		<dc:creator><![CDATA[Алексей Калиниченко]]></dc:creator>
				<category><![CDATA[Без рубрики]]></category>

		<guid isPermaLink="false">http://ak-agency.com/?p=472</guid>
		<description><![CDATA[Да, патентоведение - занятие не простое. Вдобавок отдельные специалисты в публикациях стараются напустить ещё больше тумана на то, что они делают. Не знаю зачем. В этой статье мы попытаемся развеять туман вокруг стратегий патентования.]]></description>
		<wfw:commentRss>http://ak-agency.com/2016/08/25/14-polosok-lapshi-ili-kakie-byvayut-patenty/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Нарушаем патент&#8230; Или не нарушаем?</title>
		<link>http://ak-agency.com/2016/08/18/narushaem-patent-ili-ne-narushaem/</link>
		<comments>http://ak-agency.com/2016/08/18/narushaem-patent-ili-ne-narushaem/#respond</comments>
		<pubDate>Wed, 17 Aug 2016 22:46:00 +0000</pubDate>
		<dc:creator><![CDATA[Алексей Калиниченко]]></dc:creator>
				<category><![CDATA[Без рубрики]]></category>
		<category><![CDATA[Патенты]]></category>

		<guid isPermaLink="false">http://ak-agency.com/?p=397</guid>
		<description><![CDATA[Инженеров в связи с интеллектуальной собственностью пугают разными страшилками. Патенты конкурентов, изобретения велосипедов, иски от патентных троллей... Эти страхи не всегда имеют под собой логические основания. Надеюсь, эта статья поможет инженерам понять, стоит бояться патента или нет.]]></description>
		<wfw:commentRss>http://ak-agency.com/2016/08/18/narushaem-patent-ili-ne-narushaem/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Чем развлечься во время патентного исследования</title>
		<link>http://ak-agency.com/2016/08/09/chem-razvlechsya-vo-vremya-patentnogo-issledovaniya/</link>
		<comments>http://ak-agency.com/2016/08/09/chem-razvlechsya-vo-vremya-patentnogo-issledovaniya/#respond</comments>
		<pubDate>Tue, 09 Aug 2016 11:17:57 +0000</pubDate>
		<dc:creator><![CDATA[Алексей Калиниченко]]></dc:creator>
				<category><![CDATA[Патентные исследования]]></category>

		<guid isPermaLink="false">http://ak-agency.com/?p=334</guid>
		<description><![CDATA[Работа патентного поверенного не всегда интересна. Попытался развлечься во время одной из самых монотонных задач - патентного поиска. Смотрите, что из этого вышло.]]></description>
		<wfw:commentRss>http://ak-agency.com/2016/08/09/chem-razvlechsya-vo-vremya-patentnogo-issledovaniya/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Вместо предисловия</title>
		<link>http://ak-agency.com/2016/08/03/chto-to-vrode-predisloviya/</link>
		<comments>http://ak-agency.com/2016/08/03/chto-to-vrode-predisloviya/#respond</comments>
		<pubDate>Tue, 02 Aug 2016 21:37:54 +0000</pubDate>
		<dc:creator><![CDATA[Алексей Калиниченко]]></dc:creator>
				<category><![CDATA[Без рубрики]]></category>

		<guid isPermaLink="false">http://ak-agency.com/?p=322</guid>
		<description><![CDATA[Здравствуйте!           Никак не решался начать писать, но вчера мне подкинули замечательный стимул. Пришла рассылка от T&#38;P. В письме среди прочего была ссылка на видео лекцию одного якобы учёного из малознакомого коммерческого университета с громким названием. Она то ли про управление интеллектуальным капиталом, то ли про информацию, то ли про защиту промышленной собственности. &#8230; <a href="http://ak-agency.com/2016/08/03/chto-to-vrode-predisloviya/" class="more-link">Читать далее <span class="screen-reader-text">Вместо предисловия</span></a>]]></description>
		<wfw:commentRss>http://ak-agency.com/2016/08/03/chto-to-vrode-predisloviya/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss><!-- hyper cache 2016-09-20 07:46:38 -->