@mixin arrow($color) {
  border: 1px solid $color;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 7px;
  pointer-events: none;
  position: absolute;
  transform: rotate(-45deg);
  width: 7px;
}

@mixin clearfix {
  &:after {
    clear: both;
    content: " ";
    display: table;
  }
}

@mixin center($size) {
  left: 50%;
  margin-left: -($size / 2);
  margin-top: -($size / 2);
  position: absolute;
  top: 50%;
}

@mixin fa($size, $dimensions) {
  display: inline-block;
  font-size: $size;
  height: $dimensions;
  line-height: $dimensions;
  text-align: center;
  vertical-align: top;
  width: $dimensions;
}

@mixin overlay($offset: 0) {
  bottom: $offset;
  left: $offset;
  position: absolute;
  right: $offset;
  top: $offset;
}

@mixin placeholder {
  $placeholders: ":-moz" ":-webkit-input" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}

@mixin replace($background, $width, $height) {
  background: $background center center no-repeat;
  background-size: $width $height;
  display: block;
  height: $height;
  outline: none;
  overflow: hidden;
  text-indent: -290486px;
  width: $width;
}

@mixin unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin from($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin until($device) {
  @media screen and (max-width: $device - 1px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $tablet - 1px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}

@mixin touch {
  @media screen and (max-width: $desktop - 1px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: $desktop) {
    @content;
  }
}
@mixin desktop-from {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin widescreen {
  @media screen and (max-width: $widescreen) {
    @content;
  }
}


@mixin tablet-h {
  @media screen and (max-height: $tablet-h) {
    @content;
  }
}
@mixin desktop-h {
  @media screen and (min-height: $tablet-h) and (max-height: $desktop-h) {
    @content;
  }
}

// example
@mixin sidebar-sm {
  .nav {
    padding-top: 15px;
    a {
      font-size: 16px;
      line-height: 36px;
    }
  }
  .person-about {
    padding: 15px 0;
    h2 {
      font-size: 18px;
      &:after {
        margin-top: 10px;
      }
    }
  }
  .person-img {
    overflow: hidden;
    height: 210px;
  }
  .follow-us {
    padding: 15px 0;
  }
}