// url
$images: "/wp-content/themes/twentyfifteen/images";
$fonts: "/wp-content/themes/twentyfifteen/fonts";

// Colors
$text-color:  #333333;

$blue-700:    #1976d2;
$green-500:	  #4CAF50;
$yellow-600:  #FDD835;
$pink-300:    #F06292;
$orange-600:  #fc8800;
$red-600:     #E53935;

// Typography
$font-family-base: 'proxima-nova', sans-serif;
$font-size-base:  18px;
$line-height-base:  30px;

// Breakpoints

$tablet: 600px;
$desktop: 980px;
$widescreen: 1180px;


$tablet-h: 900px;
$desktop-h: 980px;

// Dimensions

$column-gap: 20px;

$header-height: 50px;

// Miscellaneous

$easing: ease-out;
$radius: 3px;
$speed: 86ms;

// colors
$color-orange: #f08237;