@import url(../bower_components/normalize.css/normalize.css);
@import url(../bower_components/bxslider-4/dist/jquery.bxslider.min.css);
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.color-green-500 {
  color: #4CAF50; }

.color-pink-300 {
  color: #F06292; }

.float-right {
  float: right; }

.color-blue-700 {
  color: #1976d2; }

.color-yellow-600 {
  color: #FDD835; }

.color-red-600 {
  color: #E53935; }

.is-block {
  display: block; }

.is-inline {
  display: inline; }

.is-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.is-clearfix:after {
  clear: both;
  content: " ";
  display: table; }

.is-pulled-left {
  float: left; }

.is-pulled-right {
  float: right; }

.is-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.is-fullwidth {
  width: 100%; }

.is-text-centered {
  text-align: center; }

.is-text-left {
  text-align: left; }

.is-text-right {
  text-align: right; }

@media screen and (max-width: 599px) {
  .is-hidden-mobile {
    display: none !important; } }

@media screen and (max-width: 600px) {
  .is-hidden-tablet {
    display: none !important; } }

@media screen and (max-width: 979px) {
  .is-hidden-touch {
    display: none !important; } }

@media screen and (max-width: 980px) {
  .is-hidden-desktop {
    display: none !important; } }

.is-disabled {
  pointer-events: none; }

.is-marginless {
  margin: 0 !important; }

.is-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.list-clear, .requisites {
  margin: 0;
  padding: 0;
  list-style: none; }

.text-uppercase {
  text-transform: uppercase; }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

html {
  font-size: 62.5%; }

html {
  font-size: 1vh; }
  @media screen and (max-width: 980px) {
    html {
      font-size: 62.5%; } }

body {
  font-family: "proxima-nova", sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 30px;
  line-height: 3rem; }

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1260px; }
  .container.is-fluid {
    margin: 0 20px;
    max-width: none; }

.column {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .column.is-1 {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 8.33333%; }
  .column.is-offset-1 {
    margin-left: 8.33333%; }
  .column.is-1-tablet {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 8.33333%; }
  .column.is-offset-1-tablet {
    margin-left: 8.33333%; }
  .column.is-2 {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 16.66667%; }
  .column.is-offset-2 {
    margin-left: 16.66667%; }
  .column.is-2-tablet {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 16.66667%; }
  .column.is-offset-2-tablet {
    margin-left: 16.66667%; }
  .column.is-3 {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 25%; }
  .column.is-offset-3 {
    margin-left: 25%; }
  .column.is-3-tablet {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 25%; }
  .column.is-offset-3-tablet {
    margin-left: 25%; }
  .column.is-4 {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 33.33333%; }
  .column.is-offset-4 {
    margin-left: 33.33333%; }
  .column.is-4-tablet {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 33.33333%; }
  .column.is-offset-4-tablet {
    margin-left: 33.33333%; }
  .column.is-5 {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 41.66667%; }
  .column.is-offset-5 {
    margin-left: 41.66667%; }
  .column.is-5-tablet {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 41.66667%; }
  .column.is-offset-5-tablet {
    margin-left: 41.66667%; }
  .column.is-6 {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 50%; }
  .column.is-offset-6 {
    margin-left: 50%; }
  .column.is-6-tablet {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 50%; }
  .column.is-offset-6-tablet {
    margin-left: 50%; }
  .column.is-7 {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 58.33333%; }
  .column.is-offset-7 {
    margin-left: 58.33333%; }
  .column.is-7-tablet {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 58.33333%; }
  .column.is-offset-7-tablet {
    margin-left: 58.33333%; }
  .column.is-8 {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 66.66667%; }
  .column.is-offset-8 {
    margin-left: 66.66667%; }
  .column.is-8-tablet {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 66.66667%; }
  .column.is-offset-8-tablet {
    margin-left: 66.66667%; }
  .column.is-9 {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 75%; }
  .column.is-offset-9 {
    margin-left: 75%; }
  .column.is-9-tablet {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 75%; }
  .column.is-offset-9-tablet {
    margin-left: 75%; }
  .column.is-10 {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 83.33333%; }
  .column.is-offset-10 {
    margin-left: 83.33333%; }
  .column.is-10-tablet {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 83.33333%; }
  .column.is-offset-10-tablet {
    margin-left: 83.33333%; }
  .column.is-11 {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 91.66667%; }
  .column.is-offset-11 {
    margin-left: 91.66667%; }
  .column.is-11-tablet {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 91.66667%; }
  .column.is-offset-11-tablet {
    margin-left: 91.66667%; }
  .column.is-12 {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 100%;
    margin-left: 0; }
  .column.is-offset-12 {
    margin-left: 100%; }
  .column.is-12-tablet {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 100%;
    margin-left: 0; }
  .column.is-offset-12-tablet {
    margin-left: 100%; }
  @media screen and (max-width: 1180px) {
    .column.is-1-widescreen {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 8.33333%; }
    .column.is-offset-1-widescreen {
      margin-left: 8.33333%; }
    .column.is-2-widescreen {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 16.66667%; }
    .column.is-offset-2-widescreen {
      margin-left: 16.66667%; }
    .column.is-3-widescreen {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 25%; }
    .column.is-offset-3-widescreen {
      margin-left: 25%; }
    .column.is-4-widescreen {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 33.33333%; }
    .column.is-offset-4-widescreen {
      margin-left: 33.33333%; }
    .column.is-5-widescreen {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 41.66667%; }
    .column.is-offset-5-widescreen {
      margin-left: 41.66667%; }
    .column.is-6-widescreen {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 50%; }
    .column.is-offset-6-widescreen {
      margin-left: 50%; }
    .column.is-7-widescreen {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 58.33333%; }
    .column.is-offset-7-widescreen {
      margin-left: 58.33333%; }
    .column.is-8-widescreen {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 66.66667%; }
    .column.is-offset-8-widescreen {
      margin-left: 66.66667%; }
    .column.is-9-widescreen {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 75%; }
    .column.is-offset-9-widescreen {
      margin-left: 75%; }
    .column.is-10-widescreen {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 83.33333%; }
    .column.is-offset-10-widescreen {
      margin-left: 83.33333%; }
    .column.is-11-widescreen {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 91.66667%; }
    .column.is-offset-11-widescreen {
      margin-left: 91.66667%; }
    .column.is-12-widescreen {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 100%;
      margin-left: 0; }
    .column.is-offset-12-widescreen {
      margin-left: 100%; } }
  @media screen and (max-width: 980px) {
    .column.is-1-desktop {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 8.33333%; }
    .column.is-offset-1-desktop {
      margin-left: 8.33333%; }
    .column.is-2-desktop {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 16.66667%; }
    .column.is-offset-2-desktop {
      margin-left: 16.66667%; }
    .column.is-3-desktop {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 25%; }
    .column.is-offset-3-desktop {
      margin-left: 25%; }
    .column.is-4-desktop {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 33.33333%; }
    .column.is-offset-4-desktop {
      margin-left: 33.33333%; }
    .column.is-5-desktop {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 41.66667%; }
    .column.is-offset-5-desktop {
      margin-left: 41.66667%; }
    .column.is-6-desktop {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 50%; }
    .column.is-offset-6-desktop {
      margin-left: 50%; }
    .column.is-7-desktop {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 58.33333%; }
    .column.is-offset-7-desktop {
      margin-left: 58.33333%; }
    .column.is-8-desktop {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 66.66667%; }
    .column.is-offset-8-desktop {
      margin-left: 66.66667%; }
    .column.is-9-desktop {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 75%; }
    .column.is-offset-9-desktop {
      margin-left: 75%; }
    .column.is-10-desktop {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 83.33333%; }
    .column.is-offset-10-desktop {
      margin-left: 83.33333%; }
    .column.is-11-desktop {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 91.66667%; }
    .column.is-offset-11-desktop {
      margin-left: 91.66667%; }
    .column.is-12-desktop {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 100%;
      margin-left: 0; }
    .column.is-offset-12-desktop {
      margin-left: 100%; } }
  @media screen and (max-width: 599px) {
    .column.is-1-mobile {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 8.33333%; }
    .column.is-offset-1-mobile {
      margin-left: 8.33333%; }
    .column.is-2-mobile {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 16.66667%; }
    .column.is-offset-2-mobile {
      margin-left: 16.66667%; }
    .column.is-3-mobile {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 25%; }
    .column.is-offset-3-mobile {
      margin-left: 25%; }
    .column.is-4-mobile {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 33.33333%; }
    .column.is-offset-4-mobile {
      margin-left: 33.33333%; }
    .column.is-5-mobile {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 41.66667%; }
    .column.is-offset-5-mobile {
      margin-left: 41.66667%; }
    .column.is-6-mobile {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 50%; }
    .column.is-offset-6-mobile {
      margin-left: 50%; }
    .column.is-7-mobile {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 58.33333%; }
    .column.is-offset-7-mobile {
      margin-left: 58.33333%; }
    .column.is-8-mobile {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 66.66667%; }
    .column.is-offset-8-mobile {
      margin-left: 66.66667%; }
    .column.is-9-mobile {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 75%; }
    .column.is-offset-9-mobile {
      margin-left: 75%; }
    .column.is-10-mobile {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 83.33333%; }
    .column.is-offset-10-mobile {
      margin-left: 83.33333%; }
    .column.is-11-mobile {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 91.66667%; }
    .column.is-offset-11-mobile {
      margin-left: 91.66667%; }
    .column.is-12-mobile {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 100%;
      margin-left: 0; }
    .column.is-offset-12-mobile {
      margin-left: 100%; } }

.columns {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .columns.space-20 {
    margin: 0 -20px;
    margin: 0 -2rem; }
    .columns.space-20 > .column {
      padding: 0 20px;
      padding: 0 2rem; }
  .columns.is-centered {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .columns.is-gapless {
    margin-left: 0;
    margin-right: 0; }
    .columns.is-gapless:not(:last-child) {
      margin-bottom: 20px;
      margin-bottom: 2rem; }
    .columns.is-gapless > .column {
      margin: 0;
      padding: 0; }
  .columns.is-multiline {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .columns.is-vcentered {
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center; }
  @media screen and (max-width: 600px) {
    .columns.is-grid {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      .columns.is-grid > .column {
        -webkit-flex-basis: 33.3333%;
            -ms-flex-preferred-size: 33.3333%;
                flex-basis: 33.3333%;
        max-width: 33.3333%;
        padding: 10px;
        padding: 1rem;
        width: 33.3333%; }
        .columns.is-grid > .column + .column {
          margin-left: 0; } }

.content-md {
  padding: 16px 20px;
  padding: 1.6rem 2rem; }
  .content-md .content-fluid {
    margin-left: -20px;
    margin-left: -2rem;
    margin-right: -20px;
    margin-right: -2rem; }

html, body {
  height: 100%;
  min-height: 100%; }

.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.layout-vertical, .content, .single-post #comments, .tag #comments, .entry-content, .hentry, .blog .entry-content, .blog .post-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-1 {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.flex-vertical-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

@font-face {
  font-family: 'proxima-nova';
  src: url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-regular.eot");
  src: url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-regular.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-regular.woff") format("woff"), url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-regular.ttf") format("truetype"), url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-regular.svg#webfont") format("svg"); }

@font-face {
  font-family: 'proxima-nova';
  src: url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-bold.eot");
  src: url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-bold.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-bold.woff") format("woff"), url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-bold.ttf") format("truetype"), url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-bold.svg#webfont") format("svg");
  font-weight: 700; }

@font-face {
  font-family: 'proxima-nova';
  src: url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-light.eot");
  src: url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-light.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-light.woff") format("woff"), url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-light.ttf") format("truetype"), url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-light.svg#webfont") format("svg");
  font-weight: 300; }

@font-face {
  font-family: 'proxima-nova';
  src: url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-thin-light.eot");
  src: url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-thin-light.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-thin-light.woff") format("woff"), url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-thin-light.ttf") format("truetype"), url("/wp-content/themes/twentyfifteen/fonts/proxima-nova-thin-light.svg#webfont") format("svg");
  font-weight: 300;
  font-style: italic; }

h1, .h1 {
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 30px;
  line-height: 3rem;
  font-weight: 400;
  text-transform: uppercase; }
  @media screen and (max-width: 980px) {
    h1, .h1 {
      font-size: 36px;
      line-height: 46px; } }

h2, .h2 {
  font-size: 30px;
  font-size: 3rem;
  line-height: 30px;
  line-height: 3rem;
  font-weight: 400;
  text-transform: uppercase; }

.font-base {
  font-family: 'Noto Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased; }

.font-nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.entry-title, .page-title {
  margin: 55px 0;
  margin: 5.5rem 0;
  text-align: center; }

.list-orange {
  list-style: none;
  padding: 0;
  margin: 0; }
  .list-orange li {
    position: relative;
    padding-bottom: 25px;
    padding-bottom: 2.5rem;
    padding-left: 35px;
    padding-left: 3.5rem; }
    .list-orange li:before {
      content: '';
      position: absolute;
      left: 0;
      top: 5px;
      top: 0.5rem;
      background: url("/wp-content/themes/twentyfifteen/images/arrow-orange.png") 0 0 no-repeat;
      background-size: 100%;
      width: 19px;
      width: 1.9rem;
      height: 26px;
      height: 2.6rem; }

.btn, #comments #submit {
  font-size: 24px;
  font-size: 2.4rem;
  padding: 15px 0;
  padding: 1.5rem 0;
  text-align: center;
  text-decoration: none;
  border: none; }
  .btn.btn-orange, #comments #submit {
    background-color: #f08237;
    color: #fff; }
  .btn.btn-block, #comments .btn-block#submit {
    width: 100%;
    display: block; }

.icon {
  display: inline-block; }

.icon-block {
  display: block;
  margin: 0 auto; }

.icon-phone {
  background: url("/wp-content/themes/twentyfifteen/images/icon-phone.png") 0 0 no-repeat;
  background-size: 100%;
  width: 64px;
  width: 6.4rem;
  height: 65px;
  height: 6.5rem; }

.icon-mail {
  background: url("/wp-content/themes/twentyfifteen/images/icon-mail.png") 0 0 no-repeat;
  background-size: 100%;
  width: 98px;
  width: 9.8rem;
  height: 61px;
  height: 6.1rem; }

.icon-clock {
  background: url("/wp-content/themes/twentyfifteen/images/icon-clock.png") 0 0 no-repeat;
  background-size: 100%;
  width: 18px;
  width: 1.8rem;
  height: 18px;
  height: 1.8rem; }

.icon-arrow-left {
  background: url("/wp-content/themes/twentyfifteen/images/icon-arrow-left.png") 0 0 no-repeat;
  background-size: 100%;
  width: 42px;
  width: 4.2rem;
  height: 42px;
  height: 4.2rem; }

.icon-arrow-right {
  background: url("/wp-content/themes/twentyfifteen/images/icon-arrow-right.png") 0 0 no-repeat;
  background-size: 100%;
  width: 42px;
  width: 4.2rem;
  height: 42px;
  height: 4.2rem; }

.icon-arrow-orange {
  background: url("/wp-content/themes/twentyfifteen/images/arrow-orange.png") 0 0 no-repeat;
  background-size: 100%;
  width: 19px;
  width: 1.9rem;
  height: 26px;
  height: 2.6rem; }

input[type="text"], input[type="email"], input[type="tel"], input[type="url"], textarea {
  font-size: 24px;
  font-size: 2.4rem;
  padding: 20px 35px;
  padding: 2rem 3.5rem;
  margin: 10px 0;
  margin: 1rem 0;
  width: 100%;
  background-color: #434447;
  border: none;
  color: #fff; }
  input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #fff;
    font-weight: 300;
    font-style: italic; }
  input[type="text"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="url"]:-moz-placeholder, textarea:-moz-placeholder {
    color: #fff;
    font-weight: 300;
    font-style: italic; }
  input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="url"]::-moz-placeholder, textarea::-moz-placeholder {
    color: #fff;
    font-weight: 300;
    font-style: italic; }
  input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #fff;
    font-weight: 300;
    font-style: italic; }

textarea {
  height: 280px;
  height: 28rem;
  resize: none; }

.sidebar {
  position: relative;
  width: 360px;
  width: 36rem;
  background-color: #222327;
  color: #fff;
  overflow-y: hidden; }
  @media screen and (max-width: 980px) {
    .sidebar {
      width: 100%; } }

#lsi_widget-2 .lsi-social-icons li {
  margin: 0 8px 8px 0 !important;
  margin: 0 0.8rem 0.8rem 0 !important; }

#lsi_widget-2 .icon-set-lsi_widget-2 a {
  font-size: 20px !important;
  font-size: 2rem !important;
  padding: 8px !important;
  padding: 0.8rem !important; }

.nav-open {
  display: none;
  background-color: #171719;
  vertical-align: middle;
  line-height: 0;
  text-align: center;
  padding-bottom: 25px;
  padding-bottom: 2.5rem; }
  .nav-open svg {
    border: 1px solid #ffffff;
    padding: 2px;
    border-radius: 3px; }
  @media screen and (max-width: 980px) {
    .nav-open {
      display: block; } }

.nav {
  text-align: center;
  padding-top: 35px;
  padding-top: 3.5rem; }
  @media screen and (max-width: 980px) {
    .nav {
      display: none;
      padding: 25px 0; } }
  @media screen and (min-width: 980px) {
    .nav {
      display: block !important; } }
  .nav ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .nav li.current_page_item span, .nav li.current_page_parent span {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 70%; }
    .nav li.current_page_item span:before, .nav li.current_page_item span:after, .nav li.current_page_parent span:before, .nav li.current_page_parent span:after {
      content: '';
      position: absolute;
      display: inline-block;
      background-color: #f08237;
      width: 25px;
      width: 2.5rem;
      height: 2px;
      height: 0.2rem;
      margin: auto;
      top: 0;
      bottom: 0; }
    .nav li.current_page_item span:before, .nav li.current_page_parent span:before {
      left: 0; }
    .nav li.current_page_item span:after, .nav li.current_page_parent span:after {
      right: 0; }
  .nav li.current_page_item a, .nav li.current_page_parent a {
    color: #f08237; }
  .nav li:hover a {
    color: #f08237; }
  .nav a {
    font-size: 23px;
    font-size: 2.3rem;
    line-height: 48px;
    line-height: 4.8rem;
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase; }

.social {
  list-style: none;
  padding: 0;
  margin: 0; }

.person-about {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 24px;
  line-height: 2.4rem;
  padding: 35px 0;
  padding: 3.5rem 0;
  background-color: #171719;
  text-align: center; }
  @media screen and (max-width: 980px) {
    .person-about {
      padding-top: 25px;
      padding-bottom: 1px; } }
  .person-about h2 {
    font-size: 23px;
    font-size: 2.3rem;
    text-transform: uppercase;
    font-weight: 700; }
    .person-about h2:after {
      content: '';
      display: block;
      background-color: #f08237;
      width: 50px;
      width: 5rem;
      height: 2px;
      height: 0.2rem;
      margin: 0 auto;
      margin-top: 25px;
      margin-top: 2.5rem; }

.person-img {
  line-height: 0; }
  .person-img img {
    max-width: 100%; }
  @media screen and (max-width: 980px) {
    .person-img {
      text-align: center; } }

.follow-us {
  padding: 25px 0;
  padding: 2.5rem 0; }
  @media screen and (max-width: 980px) {
    .follow-us {
      background: #171719;
      padding: 0 0 25px; } }

.sidebar-lang {
  position: absolute;
  top: 5px;
  top: 0.5rem;
  right: 15px;
  right: 1.5rem;
  margin: 0;
  padding: 0;
  list-style: none; }
  .sidebar-lang li {
    display: inline-block; }

.main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 36rem);
  background-color: #f2f2f2;
  overflow-y: auto; }
  @media screen and (max-width: 980px) {
    .main {
      width: 100%;
      overflow-y: initial; } }

.page {
  width: 100%; }

.numbers {
  padding: 35px 0 25px;
  padding: 3.5rem 0 2.5rem;
  background-color: #222327;
  color: #fff;
  overflow: hidden;
  -webkit-flex: 0 0;
      -ms-flex: 0 0;
          flex: 0 0; }
  @media screen and (max-width: 980px) {
    .numbers {
      display: none; } }

.wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  overflow: hidden; }
  @media screen and (max-width: 980px) {
    .wrapper {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      height: auto; } }

.content, .single-post #comments, .tag #comments {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
  padding: 0 8%; }

.numbers-single {
  text-align: center; }
  .numbers-single span {
    font-size: 80px;
    font-size: 8rem;
    line-height: 44px;
    line-height: 4.4rem;
    padding-bottom: 35px;
    padding-bottom: 3.5rem;
    display: block;
    font-weight: 700;
    text-shadow: #1b1c1f 1px 1px, #1b1c1f 2px 2px, #1b1c1f 3px 3px, #1b1c1f 4px 4px, #1b1c1f 5px 5px, #1b1c1f 6px 6px, #1b1c1f 7px 7px, #1b1c1f 8px 8px, #1b1c1f 9px 9px, #1b1c1f 10px 10px, #1b1c1f 11px 11px, #1b1c1f 12px 12px, #1b1c1f 13px 13px, #1b1c1f 14px 14px, #1b1c1f 15px 15px, #1b1c1f 16px 16px, #1b1c1f 17px 17px, #1b1c1f 18px 18px, #1b1c1f 19px 19px, #1b1c1f 20px 20px, #1b1c1f 21px 21px, #1b1c1f 22px 22px, #1b1c1f 23px 23px, #1b1c1f 24px 24px, #1b1c1f 25px 25px, #1b1c1f 26px 26px, #1b1c1f 27px 27px, #1b1c1f 28px 28px, #1b1c1f 29px 29px, #1b1c1f 30px 30px, #1b1c1f 31px 31px, #1b1c1f 32px 32px, #1b1c1f 33px 33px, #1b1c1f 34px 34px, #1b1c1f 35px 35px, #1b1c1f 36px 36px, #1b1c1f 37px 37px, #1b1c1f 38px 38px, #1b1c1f 39px 39px, #1b1c1f 40px 40px, #1b1c1f 41px 41px, #1b1c1f 42px 42px, #1b1c1f 43px 43px, #1b1c1f 44px 44px, #1b1c1f 45px 45px, #1b1c1f 46px 46px, #1b1c1f 47px 47px, #1b1c1f 48px 48px, #1b1c1f 49px 49px, #1b1c1f 50px 50px, #1b1c1f 51px 51px, #1b1c1f 52px 52px, #1b1c1f 53px 53px, #1b1c1f 54px 54px, #1b1c1f 55px 55px, #1b1c1f 56px 56px, #1b1c1f 57px 57px, #1b1c1f 58px 58px, #1b1c1f 59px 59px, #1b1c1f 60px 60px, #1b1c1f 61px 61px, #1b1c1f 62px 62px, #1b1c1f 63px 63px, #1b1c1f 64px 64px, #1b1c1f 65px 65px, #1b1c1f 66px 66px, #1b1c1f 67px 67px, #1b1c1f 68px 68px, #1b1c1f 69px 69px, #1b1c1f 70px 70px, #1b1c1f 71px 71px, #1b1c1f 72px 72px, #1b1c1f 73px 73px, #1b1c1f 74px 74px, #1b1c1f 75px 75px, #1b1c1f 76px 76px, #1b1c1f 77px 77px, #1b1c1f 78px 78px, #1b1c1f 79px 79px, #1b1c1f 80px 80px, #1b1c1f 81px 81px, #1b1c1f 82px 82px, #1b1c1f 83px 83px, #1b1c1f 84px 84px, #1b1c1f 85px 85px, #1b1c1f 86px 86px, #1b1c1f 87px 87px, #1b1c1f 88px 88px, #1b1c1f 89px 89px, #1b1c1f 90px 90px, #1b1c1f 91px 91px, #1b1c1f 92px 92px, #1b1c1f 93px 93px, #1b1c1f 94px 94px, #1b1c1f 95px 95px, #1b1c1f 96px 96px, #1b1c1f 97px 97px, #1b1c1f 98px 98px, #1b1c1f 99px 99px, #1b1c1f 100px 100px, #1b1c1f 101px 101px, #1b1c1f 102px 102px, #1b1c1f 103px 103px, #1b1c1f 104px 104px, #1b1c1f 105px 105px, #1b1c1f 106px 106px, #1b1c1f 107px 107px, #1b1c1f 108px 108px, #1b1c1f 109px 109px, #1b1c1f 110px 110px, #1b1c1f 111px 111px, #1b1c1f 112px 112px, #1b1c1f 113px 113px, #1b1c1f 114px 114px, #1b1c1f 115px 115px, #1b1c1f 116px 116px, #1b1c1f 117px 117px, #1b1c1f 118px 118px, #1b1c1f 119px 119px, #1b1c1f 120px 120px, #1b1c1f 121px 121px, #1b1c1f 122px 122px, #1b1c1f 123px 123px, #1b1c1f 124px 124px, #1b1c1f 125px 125px, #1b1c1f 126px 126px, #1b1c1f 127px 127px, #1b1c1f 128px 128px, #1b1c1f 129px 129px, #1b1c1f 130px 130px, #1b1c1f 131px 131px, #1b1c1f 132px 132px, #1b1c1f 133px 133px, #1b1c1f 134px 134px, #1b1c1f 135px 135px, #1b1c1f 136px 136px, #1b1c1f 137px 137px, #1b1c1f 138px 138px, #1b1c1f 139px 139px, #1b1c1f 140px 140px, #1b1c1f 141px 141px, #1b1c1f 142px 142px, #1b1c1f 143px 143px, #1b1c1f 144px 144px, #1b1c1f 145px 145px, #1b1c1f 146px 146px, #1b1c1f 147px 147px, #1b1c1f 148px 148px, #1b1c1f 149px 149px, #1b1c1f 150px 150px, #1b1c1f 151px 151px, #1b1c1f 152px 152px, #1b1c1f 153px 153px, #1b1c1f 154px 154px, #1b1c1f 155px 155px, #1b1c1f 156px 156px, #1b1c1f 157px 157px, #1b1c1f 158px 158px, #1b1c1f 159px 159px, #1b1c1f 160px 160px, #1b1c1f 161px 161px, #1b1c1f 162px 162px, #1b1c1f 163px 163px, #1b1c1f 164px 164px, #1b1c1f 165px 165px, #1b1c1f 166px 166px, #1b1c1f 167px 167px, #1b1c1f 168px 168px, #1b1c1f 169px 169px, #1b1c1f 170px 170px, #1b1c1f 171px 171px, #1b1c1f 172px 172px, #1b1c1f 173px 173px, #1b1c1f 174px 174px, #1b1c1f 175px 175px, #1b1c1f 176px 176px, #1b1c1f 177px 177px, #1b1c1f 178px 178px, #1b1c1f 179px 179px, #1b1c1f 180px 180px, #1b1c1f 181px 181px, #1b1c1f 182px 182px, #1b1c1f 183px 183px, #1b1c1f 184px 184px, #1b1c1f 185px 185px, #1b1c1f 186px 186px, #1b1c1f 187px 187px, #1b1c1f 188px 188px, #1b1c1f 189px 189px, #1b1c1f 190px 190px, #1b1c1f 191px 191px, #1b1c1f 192px 192px, #1b1c1f 193px 193px, #1b1c1f 194px 194px, #1b1c1f 195px 195px, #1b1c1f 196px 196px, #1b1c1f 197px 197px, #1b1c1f 198px 198px, #1b1c1f 199px 199px, #1b1c1f 200px 200px; }

.entry-content, .hentry {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .entry-content p:first-child, .hentry p:first-child {
    margin-top: 0; }

.post {
  background-color: #ffffff;
  margin: 60px 0; }
  .post .entry-title {
    line-height: 60px;
    text-transform: none;
    margin: 0 0 40px; }
    .post .entry-title a {
      text-decoration: underline;
      color: #333333;
      font-size: 48px; }
      .post .entry-title a:hover {
        text-decoration: none; }

.post-date {
  text-align: center; }
  .post-date i {
    margin-right: 5px;
    vertical-align: middle; }
  .post-date span {
    display: inline-block;
    vertical-align: middle; }

.post-content {
  padding: 40px; }

.single-post .post, .tag .post {
  padding: 40px; }

.single-post img, .tag img {
  max-width: 100%;
  height: auto; }

.social-share {
  text-align: center;
  padding: 35px 0; }

.tag .post {
  margin-top: 0; }

.tags {
  margin-top: 15px;
  margin-top: 1.5rem;
  margin-left: -5px;
  margin-left: -0.5rem;
  margin-right: 30px;
  margin-right: 3rem; }
  .tags ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .tags li {
    float: left;
    margin: 0 5px;
    margin: 0 0.5rem; }
  .tags a {
    display: inline-block;
    text-decoration: none;
    color: #333333;
    background-color: #f2f2f2;
    padding: 0 15px;
    padding: 0 1.5rem;
    font-size: 13px;
    font-size: 1.3rem; }
    .tags a:hover {
      background-color: #e5e5e5; }

.tags-dark {
  margin-bottom: 25px;
  margin-bottom: 2.5rem; }
  .tags-dark a {
    background-color: #e5e5e5; }
    .tags-dark a:hover {
      background-color: #d8d8d8; }

#comments {
  margin-bottom: 55px;
  margin-bottom: 5.5rem; }
  #comments textarea, #comments input[type="text"], #comments input[type="email"], #comments input[type="tel"], #comments input[type="url"] {
    color: #333333;
    background-color: #fff;
    border: 1px solid #DADADA; }
  #comments .comment-form-comment {
    margin-bottom: 0; }
  #comments #submit {
    width: 100%; }
  #comments .form-submit {
    margin-top: 0; }

.logged-in-as {
  margin: 0; }
  .logged-in-as a {
    color: #333333; }

.comment-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.comment {
  margin: 10px;
  margin: 1rem;
  padding: 20px;
  padding: 2rem;
  background-color: #fff;
  border: 1px solid #DADADA; }
  .comment:after {
    clear: both;
    content: " ";
    display: table; }
  .comment a {
    color: #333333; }

.comments-title {
  text-align: center; }

.comment-author {
  margin-right: 25px;
  margin-right: 2.5rem;
  display: block;
  float: left; }
  .comment-author img {
    margin-bottom: 5px;
    margin-bottom: 0.5rem;
    display: block; }

.comment-metadata, .comment-content {
  overflow: hidden; }

.comment-content p {
  margin-top: 0; }

.comment-awaiting-moderation {
  font-size: 13px;
  font-size: 1.3rem;
  margin: 0; }

.bx-wrapper {
  margin: 0;
  box-shadow: none;
  border: none; }
  .bx-wrapper li, .bx-wrapper img {
    margin: 0 auto; }

.slider {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-flex: 0 0;
      -ms-flex: 0 0;
          flex: 0 0;
  padding: 50px 8%;
  padding: 5rem 8%;
  margin-top: 25px;
  margin-top: 2.5rem; }
  @media screen and (max-width: 980px) {
    .slider {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }

.slider-title {
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 48px;
  line-height: 4.8rem;
  margin: 0; }

.slider-control {
  margin: 0 35px;
  margin: 0 3.5rem; }
  .slider-control a {
    display: block; }

.accordion-content {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 24px;
  line-height: 2.4rem;
  padding: 25px 70px;
  padding: 2.5rem 7rem;
  display: none;
  color: #666666;
  border-top: 1px solid #e1e1e1; }

.accordion-title {
  position: relative;
  padding: 25px 70px;
  padding: 2.5rem 7rem;
  cursor: pointer; }
  .accordion-title:before {
    content: '';
    position: absolute;
    top: 28px;
    top: 2.8rem;
    left: 25px;
    left: 2.5rem;
    background: url("/wp-content/themes/twentyfifteen/images/plus-blue.png") 0 0 no-repeat;
    background-size: 100%;
    width: 23px;
    width: 2.3rem;
    height: 23px;
    height: 2.3rem; }

.accordion-single {
  background-color: #fff;
  margin: 0 0 20px;
  margin: 0 0 2rem; }
  .accordion-single.active .accordion-title:before {
    background: url("/wp-content/themes/twentyfifteen/images/minus-blue.png") center center no-repeat; }
  .accordion-single.active .accordion-content {
    display: block; }

.faq-page .content, .faq-page .single-post #comments, .single-post .faq-page #comments, .faq-page .tag #comments, .tag .faq-page #comments {
  padding: 0 20%; }

.contacts-page .content, .contacts-page .single-post #comments, .single-post .contacts-page #comments, .contacts-page .tag #comments, .tag .contacts-page #comments {
  padding: 0; }

.contacts {
  font-size: 30px;
  font-size: 3rem;
  width: 100%;
  text-align: center; }
  @media screen and (max-width: 980px) {
    .contacts {
      font-size: 23px; } }
  .contacts .h1 {
    margin-top: 15%; }

.form {
  padding: 0 30px;
  padding: 0 3rem;
  width: 100%;
  background-color: #222327;
  color: #fff; }
  .form .h1 {
    margin-top: 15%; }

.requisites {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 48px;
  line-height: 4.8rem;
  margin-top: 80px;
  margin-top: 8rem;
  font-weight: 300; }
  @media screen and (max-width: 980px) {
    .requisites {
      font-size: 18px;
      margin-bottom: 25px; } }
  .requisites .text-uppercase {
    font-weight: 400; }

.phone, .mail {
  margin-top: 115px;
  margin-top: 11.5rem; }
  @media screen and (max-width: 980px) {
    .phone, .mail {
      margin-top: 55px; } }
  .phone .icon, .mail .icon {
    margin-bottom: 40px;
    margin-bottom: 4rem; }
    @media screen and (max-width: 980px) {
      .phone .icon, .mail .icon {
        margin-top: 25px; } }

.form form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.form h2 {
  margin-bottom: 30px;
  margin-bottom: 3rem; }

.form .btn, .form #comments #submit, #comments .form #submit {
  margin-top: 10px;
  margin-top: 1rem; }

.form-desc {
  font-weight: 300;
  text-align: center;
  margin: 0;
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 60px;
  margin-bottom: 6rem; }
  @media screen and (max-width: 980px) {
    .form-desc {
      line-height: 31px; } }

.page-id-16 .entry-header, .page-id-180 .entry-header {
  display: none; }

.page-id-16 .content, .page-id-16 .single-post #comments, .single-post .page-id-16 #comments, .page-id-16 .tag #comments, .tag .page-id-16 #comments, .page-id-180 .content, .page-id-180 .single-post #comments, .single-post .page-id-180 #comments, .page-id-180 .tag #comments, .tag .page-id-180 #comments {
  padding: 0; }

.page-id-16 .main, .page-id-180 .main {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
              -ms-grid-row-align: stretch;
          align-items: stretch; }

.blog .entry-content {
  overflow: hidden; }

.blog .post-thumbnail {
  -webkit-flex: 0 0 40%;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  line-height: 0;
  overflow: hidden; }
  @media screen and (max-width: 600px) {
    .blog .post-thumbnail {
      -webkit-flex: 0 0 20%;
          -ms-flex: 0 0 20%;
              flex: 0 0 20%; } }
  .blog .post-thumbnail img {
    width: 100%;
    height: auto; }

.blog .post-content {
  -webkit-flex: 0 0 60%;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  overflow: hidden; }
  @media screen and (max-width: 600px) {
    .blog .post-content {
      -webkit-flex: 0 0 80%;
          -ms-flex: 0 0 80%;
              flex: 0 0 80%; } }

.blog .content, .blog .single-post #comments, .single-post .blog #comments, .blog .tag #comments, .tag .blog #comments {
  padding: 40px 50px;
  padding: 4rem 5rem;
  padding-top: 0; }
  @media screen and (max-width: 980px) {
    .blog .content, .blog .single-post #comments, .single-post .blog #comments, .blog .tag #comments, .tag .blog #comments {
      padding: 40px 20px;
      padding: 4rem 2rem;
      padding-top: 0; } }

.blog .post {
  height: 700px;
  height: 70rem;
  margin: 0 0 45px;
  margin: 0 0 4.5rem; }

.blog .entry-title {
  line-height: 43px;
  line-height: 4.3rem;
  margin-bottom: 20px;
  margin-bottom: 2rem; }
  .blog .entry-title a {
    font-size: 36px;
    font-size: 3.6rem;
    color: #000;
    text-decoration: none; }
    @media screen and (max-width: 1600px) {
      .blog .entry-title a {
        font-size: 28px;
        font-size: 2.8rem;
        line-height: 21px;
        line-height: 2.1rem; } }
    .blog .entry-title a:hover {
      text-decoration: underline; }
