.numbers, .slider {

	-webkit-flex: 0 0 auto;

  -ms-flex: 0 0 auto;

  flex: 0 0 auto;

}

.content {

	width: auto;

}

.content, .single-post #comments, .tag #comments {
  -webkit-flex: 0 0 auto
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

/**
 * 8.0 Alignments
 */

.alignleft {
	display: inline;
	float: left;
}

.alignright {
	display: inline;
	float: right;
}

.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
	margin: 0.4em 1.6em 1.6em 0;
}

blockquote.alignright,
.wp-caption.alignright,
img.alignright {
	margin: 0.4em 0 1.6em 1.6em;
}

blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
	clear: both;
	margin-top: 0.4em;
	margin-bottom: 1.6em;
}

.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
	margin-bottom: 1.2em;
}

.single-post .entry-content {
	display: block;
}
.page-id-16 .content {
	height: 100%;
}
.phone .icon, .mail .icon {
    margin-bottom: 20px;
    margin-bottom: 2rem;
}
.phone, .mail {
  margin-top: 85px;
  margin-top: 8.5rem;
}
.post-thumbnail {
	text-align: center;
}
.entry {
	overflow: hidden;
	text-indent: 2em;
}

.fz10 {
  font-size: 10px;
  font-size: 1rem;
}
.fz11 {
  font-size: 11px;
  font-size: 1.1rem;
}
.fz12 {
  font-size: 12px;
  font-size: 1.2rem;
}
.fz13 {
  font-size: 13px;
  font-size: 1.3rem;
}
.fz14 {
  font-size: 14px;
  font-size: 1.4rem;
}
.fz15 {
  font-size: 15px;
  font-size: 1.5rem;
}
.fz16 {
  font-size: 16px;
  font-size: 1.6rem;
}
.fz17 {
  font-size: 17px;
  font-size: 1.7rem;
}
.fz18 {
  font-size: 18px;
  font-size: 1.8rem;
}
.fz19 {
  font-size: 19px;
  font-size: 1.9rem;
}
.fz20 {
  font-size: 20px;
  font-size: 2rem;
}
.fz21 {
  font-size: 21px;
  font-size: 2.1rem;
}
.fz22 {
  font-size: 22px;
  font-size: 2.2rem;
}
.fz23 {
  font-size: 23px;
  font-size: 2.3rem;
}
.fz24 {
  font-size: 24px;
  font-size: 2.4rem;
}
.fz25 {
  font-size: 25px;
  font-size: 2.5rem;
}
.fz26 {
  font-size: 26px;
  font-size: 2.6rem;
}
.fz27 {
  font-size: 27px;
  font-size: 2.7rem;
}
.fz28 {
  font-size: 28px;
  font-size: 2.8rem;
}