.blog {
  .entry-content {
    @extend .layout-vertical;
    overflow: hidden;
  }
  .post-thumbnail {
    flex: 0 0 40%;
    line-height: 0;
    overflow: hidden;
    @include tablet {
      flex: 0 0 20%;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .post-content {
    @extend .layout-vertical;
    flex: 0 0 60%;
    overflow: hidden;
    @include tablet {
      flex: 0 0 80%;
    }
  }
  .content {
    @include rem(padding, 40px 50px);
    padding-top: 0;
    @include desktop {
      @include rem(padding, 40px 20px);
      padding-top: 0;
    }
  }
  .post {
    @include rem(height, 700px);
    @include rem(margin, 0 0 45px);
  }
  .entry-title {
    @include rem(line-height, 43px);
    @include rem(margin-bottom, 20px);
    a {
      @include rem(font-size, 36px);
      color: #000;
      text-decoration: none;
      @media screen and (max-width: 1600px) {
        @include rem(font-size, 28px);
        @include rem(line-height, 21px);
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}