.contacts-page {
	.content {
		padding: 0;
	}
}
.contacts {
	@include rem(font-size, 30px);
	width: 100%;
	text-align: center;
	@include desktop {
		font-size: 23px;
	}
	.h1 {
		margin-top: 15%;
	}
}
.form {
	@include rem(padding, 0 30px);
	width: 100%;
	background-color: #222327;
	color: #fff;
	.h1 {
		margin-top: 15%;
	}
}
.requisites {
	@include rem(font-size, 24px);
	@include rem(line-height, 48px);
	@include rem(margin-top, 80px);
	font-weight: 300;
	@include desktop {
		font-size: 18px;
		margin-bottom: 25px;
	}
	.text-uppercase {
		font-weight: 400;
	}
	@extend .list-clear;
}
.phone, .mail {
	@include rem(margin-top, 115px);
	@include desktop {
		margin-top: 55px;
	}
	.icon {
		@include rem(margin-bottom, 40px);
		@include desktop {
			margin-top: 25px;
		}
	}
}
.form {
	form {
		display: flex;
		flex-direction: column;
	}
	h2 {
		@include rem(margin-bottom, 30px);
	}
	.btn {
		@include rem(margin-top, 10px);
	}
}
.form-desc {
	font-weight: 300;
	text-align: center;
	margin: 0;
	@include rem(font-size, 18px);
	@include rem(margin-bottom, 60px);
	@include desktop {
    line-height: 31px;
	}
}
.page-id-16, .page-id-180 {
	.entry-header {
		display: none;
	}
	.content {
		padding: 0;
	}
	.main {
		flex-direction: column;
	  align-items: stretch;
	}
}