.accordion-content {
	@include rem(font-size, 14px);
	@include rem(line-height, 24px);
	@include rem(padding, 25px 70px);
	display: none;
	color: #666666;
	border-top: 1px solid #e1e1e1;
}
.accordion-title {
	position: relative;
	@include rem(padding, 25px 70px);
	cursor: pointer;
	&:before {
		content: '';
		position: absolute;
		@include rem(top, 28px);
		@include rem(left, 25px);
		background: url('#{$images}/plus-blue.png') 0 0 no-repeat;
		background-size: 100%;
		@include rem(width, 23px);
		@include rem(height, 23px);
	}
}
.accordion-single {
	background-color: #fff;
	@include rem(margin, 0 0 20px);
	&.active {
		.accordion-title {
			&:before {
				background: url('#{$images}/minus-blue.png') center center no-repeat;
			}
		}
		.accordion-content {
			display: block;
		}
	}
}
.faq-page {
	.content {
		padding: 0 20%;
	}
}