.bx-wrapper {
	margin: 0;
  box-shadow: none;
  border: none;
  li, img {
  	margin: 0 auto;
  }
}
.slider {
	display: flex;
  align-items: center;
	background-color: #fff;
	flex: 0 0;
  @include rem(padding, 50px 8%);
	@include rem(margin-top, 25px);
	@include desktop {
		flex-wrap: wrap;
	}
}
.slider-title {
	@include rem(font-size, 48px);
  @include rem(line-height, 48px);
	margin: 0;
	// @include widescreen {
	//   font-size: 23px;
 //    line-height: 28px;
	// }
}
.slider-control {
	@include rem(margin, 0 35px);
	a {
		display: block;
	}
}