#comments {
	@include rem(margin-bottom, 55px);
	textarea, input[type="text"], input[type="email"], input[type="tel"], input[type="url"] {
		color: $text-color;
		background-color: #fff;
		border: 1px solid #DADADA;
	}
	.comment-form-comment {
		margin-bottom: 0;
	}
	#submit {
		@extend .btn;
		@extend .btn-orange;
		width: 100%;
	}
	.form-submit {
		margin-top: 0;
	}
}
.logged-in-as {
	margin: 0;
	a {
		color: $text-color;
	}
}
.comment-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.comment {
	@include rem(margin, 10px);
	@include rem(padding, 20px);
	background-color: #fff;
  border: 1px solid #DADADA;
  @include clearfix;
  a {
  	color: $text-color;
  }
}
.comments-title {
	text-align: center;
}
.comment-author {
	@include rem(margin-right, 25px);
	display: block;
	float: left;
	img {
		@include rem(margin-bottom, 5px);
		display: block;
	}
}
.comment-metadata, .comment-content {
	overflow: hidden;
}
.comment-content {
	p {
		margin-top: 0;
	}
}
.comment-awaiting-moderation {
	@include rem(font-size, 13px);
	margin: 0;
}