.main {
	display: flex;
	flex-direction: column;
  width: calc(100% - 36rem);
  background-color: #f2f2f2;
  overflow-y: auto;
  @include desktop {
  	width: 100%;
  	overflow-y: initial;
  }
}
.page {
	width: 100%;
}
.numbers {
	@include rem(padding, 35px 0 25px);
	background-color: #222327;
	color: #fff;
	overflow: hidden;
	flex: 0 0;
	@include desktop {
		display: none;
	}
}
.wrapper {
  display: flex;
  height: 100%;
  overflow: hidden;
  @include desktop {
  	flex-direction: column;
  	height: auto;
  }
}
.content {
  @extend .layout-vertical;
  flex: 0 0 100%;
  width: 100%;
  padding: 0 8%;
}
.numbers-single {
	text-align: center;
	span {
		@include rem(font-size, 80px);
	  @include rem(line-height, 44px);
	  @include rem(padding-bottom, 35px);
		display: block;
		font-weight: 700;
		text-shadow: #1b1c1f 1px 1px, #1b1c1f 2px 2px, #1b1c1f 3px 3px, #1b1c1f 4px 4px, #1b1c1f 5px 5px, #1b1c1f 6px 6px, #1b1c1f 7px 7px, #1b1c1f 8px 8px, #1b1c1f 9px 9px, #1b1c1f 10px 10px, #1b1c1f 11px 11px, #1b1c1f 12px 12px, #1b1c1f 13px 13px, #1b1c1f 14px 14px, #1b1c1f 15px 15px, #1b1c1f 16px 16px, #1b1c1f 17px 17px, #1b1c1f 18px 18px, #1b1c1f 19px 19px, #1b1c1f 20px 20px, #1b1c1f 21px 21px, #1b1c1f 22px 22px, #1b1c1f 23px 23px, #1b1c1f 24px 24px, #1b1c1f 25px 25px, #1b1c1f 26px 26px, #1b1c1f 27px 27px, #1b1c1f 28px 28px, #1b1c1f 29px 29px, #1b1c1f 30px 30px, #1b1c1f 31px 31px, #1b1c1f 32px 32px, #1b1c1f 33px 33px, #1b1c1f 34px 34px, #1b1c1f 35px 35px, #1b1c1f 36px 36px, #1b1c1f 37px 37px, #1b1c1f 38px 38px, #1b1c1f 39px 39px, #1b1c1f 40px 40px, #1b1c1f 41px 41px, #1b1c1f 42px 42px, #1b1c1f 43px 43px, #1b1c1f 44px 44px, #1b1c1f 45px 45px, #1b1c1f 46px 46px, #1b1c1f 47px 47px, #1b1c1f 48px 48px, #1b1c1f 49px 49px, #1b1c1f 50px 50px, #1b1c1f 51px 51px, #1b1c1f 52px 52px, #1b1c1f 53px 53px, #1b1c1f 54px 54px, #1b1c1f 55px 55px, #1b1c1f 56px 56px, #1b1c1f 57px 57px, #1b1c1f 58px 58px, #1b1c1f 59px 59px, #1b1c1f 60px 60px, #1b1c1f 61px 61px, #1b1c1f 62px 62px, #1b1c1f 63px 63px, #1b1c1f 64px 64px, #1b1c1f 65px 65px, #1b1c1f 66px 66px, #1b1c1f 67px 67px, #1b1c1f 68px 68px, #1b1c1f 69px 69px, #1b1c1f 70px 70px, #1b1c1f 71px 71px, #1b1c1f 72px 72px, #1b1c1f 73px 73px, #1b1c1f 74px 74px, #1b1c1f 75px 75px, #1b1c1f 76px 76px, #1b1c1f 77px 77px, #1b1c1f 78px 78px, #1b1c1f 79px 79px, #1b1c1f 80px 80px, #1b1c1f 81px 81px, #1b1c1f 82px 82px, #1b1c1f 83px 83px, #1b1c1f 84px 84px, #1b1c1f 85px 85px, #1b1c1f 86px 86px, #1b1c1f 87px 87px, #1b1c1f 88px 88px, #1b1c1f 89px 89px, #1b1c1f 90px 90px, #1b1c1f 91px 91px, #1b1c1f 92px 92px, #1b1c1f 93px 93px, #1b1c1f 94px 94px, #1b1c1f 95px 95px, #1b1c1f 96px 96px, #1b1c1f 97px 97px, #1b1c1f 98px 98px, #1b1c1f 99px 99px, #1b1c1f 100px 100px, #1b1c1f 101px 101px, #1b1c1f 102px 102px, #1b1c1f 103px 103px, #1b1c1f 104px 104px, #1b1c1f 105px 105px, #1b1c1f 106px 106px, #1b1c1f 107px 107px, #1b1c1f 108px 108px, #1b1c1f 109px 109px, #1b1c1f 110px 110px, #1b1c1f 111px 111px, #1b1c1f 112px 112px, #1b1c1f 113px 113px, #1b1c1f 114px 114px, #1b1c1f 115px 115px, #1b1c1f 116px 116px, #1b1c1f 117px 117px, #1b1c1f 118px 118px, #1b1c1f 119px 119px, #1b1c1f 120px 120px, #1b1c1f 121px 121px, #1b1c1f 122px 122px, #1b1c1f 123px 123px, #1b1c1f 124px 124px, #1b1c1f 125px 125px, #1b1c1f 126px 126px, #1b1c1f 127px 127px, #1b1c1f 128px 128px, #1b1c1f 129px 129px, #1b1c1f 130px 130px, #1b1c1f 131px 131px, #1b1c1f 132px 132px, #1b1c1f 133px 133px, #1b1c1f 134px 134px, #1b1c1f 135px 135px, #1b1c1f 136px 136px, #1b1c1f 137px 137px, #1b1c1f 138px 138px, #1b1c1f 139px 139px, #1b1c1f 140px 140px, #1b1c1f 141px 141px, #1b1c1f 142px 142px, #1b1c1f 143px 143px, #1b1c1f 144px 144px, #1b1c1f 145px 145px, #1b1c1f 146px 146px, #1b1c1f 147px 147px, #1b1c1f 148px 148px, #1b1c1f 149px 149px, #1b1c1f 150px 150px, #1b1c1f 151px 151px, #1b1c1f 152px 152px, #1b1c1f 153px 153px, #1b1c1f 154px 154px, #1b1c1f 155px 155px, #1b1c1f 156px 156px, #1b1c1f 157px 157px, #1b1c1f 158px 158px, #1b1c1f 159px 159px, #1b1c1f 160px 160px, #1b1c1f 161px 161px, #1b1c1f 162px 162px, #1b1c1f 163px 163px, #1b1c1f 164px 164px, #1b1c1f 165px 165px, #1b1c1f 166px 166px, #1b1c1f 167px 167px, #1b1c1f 168px 168px, #1b1c1f 169px 169px, #1b1c1f 170px 170px, #1b1c1f 171px 171px, #1b1c1f 172px 172px, #1b1c1f 173px 173px, #1b1c1f 174px 174px, #1b1c1f 175px 175px, #1b1c1f 176px 176px, #1b1c1f 177px 177px, #1b1c1f 178px 178px, #1b1c1f 179px 179px, #1b1c1f 180px 180px, #1b1c1f 181px 181px, #1b1c1f 182px 182px, #1b1c1f 183px 183px, #1b1c1f 184px 184px, #1b1c1f 185px 185px, #1b1c1f 186px 186px, #1b1c1f 187px 187px, #1b1c1f 188px 188px, #1b1c1f 189px 189px, #1b1c1f 190px 190px, #1b1c1f 191px 191px, #1b1c1f 192px 192px, #1b1c1f 193px 193px, #1b1c1f 194px 194px, #1b1c1f 195px 195px, #1b1c1f 196px 196px, #1b1c1f 197px 197px, #1b1c1f 198px 198px, #1b1c1f 199px 199px, #1b1c1f 200px 200px;
	}
}
.entry-content, .hentry {
  @extend .layout-vertical;
  flex: 1;
 	p {
 		&:first-child {
 			margin-top: 0;
 		}
 	}
}