.post {
	background-color: #ffffff;
	margin: 60px 0;
	.entry-title {
		line-height: 60px;
		text-transform: none;
		margin: 0 0 40px;
		a {
			text-decoration: underline;
			color: $text-color;
			font-size: 48px;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
.post-date {
	text-align: center;
	i {
		margin-right: 5px;
    vertical-align: middle;
	}
	span {
		display: inline-block;
    vertical-align: middle;
	}
}
.post-content {
	padding: 40px;
}
.single-post, .tag {
	.post {
		padding: 40px;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	#comments {
		@extend .content;
	}
}
.social-share {
	text-align: center;
	padding: 35px 0;
}
.tag {
	.post {
		margin-top: 0;
	}
}