.sidebar {
	position: relative;
	@include rem(width, 360px);
  background-color: #222327;
  color: #fff;
  overflow-y: hidden;
  @include desktop {
		width: 100%;
  }
}
#lsi_widget-2 {
	.lsi-social-icons {
		li {
	    @include rem(margin, 0 8px 8px 0 !important);
		}
	}
	.icon-set-lsi_widget-2 {
		a {
			@include rem(font-size, 20px!important);
			@include rem(padding, 8px!important);
		}
	}
}
.nav-open {
	display: none;
	background-color: #171719;
	vertical-align: middle;
  line-height: 0;
	text-align: center;
	@include rem(padding-bottom, 25px);
	svg {
		border: 1px solid #ffffff;
		padding: 2px;
		border-radius: 3px;
	}
	@include desktop {
		display: block;
	}
}
.nav {
	text-align: center;
	@include rem(padding-top, 35px);
	@include desktop {
		display: none;
		padding: 25px 0;
	}
	@include desktop-from {
  	display: block!important;
  }
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		&.current_page_item, &.current_page_parent {
			span {
				position: relative;
				display: block;
				margin: 0 auto;
				width: 70%;
				&:before, &:after {
					content: '';
					position: absolute;
					display: inline-block;
					background-color: #f08237;
					@include rem(width, 25px);
					@include rem(height, 2px);
			    margin: auto;
			    top: 0;
			    bottom: 0;
				}
				&:before {
					left: 0;
				}
				&:after {
					right: 0;
				}
			}
			a {
				color: $color-orange;
			}
		}
		&:hover {
			a {
				color: $color-orange;
			}
		}
	}
	a {
		@include rem(font-size, 23px);
	  @include rem(line-height, 48px);
		display: block;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
	}
}
.social {
	list-style: none;
	padding: 0;
	margin: 0;
}
.person-about {
	@include rem(font-size, 16px);
  @include rem(line-height, 24px);
  @include rem(padding, 35px 0);
	background-color: #171719;
	text-align: center;
	@include desktop {
		padding-top: 25px;
		padding-bottom: 1px;
	}
	h2 {
		@include rem(font-size, 23px);
		text-transform: uppercase;
		font-weight: 700;
		&:after {
			content: '';
	    display: block;
			background-color: #f08237;
			@include rem(width, 50px);
			@include rem(height, 2px);
	    margin: 0 auto;
			@include rem(margin-top, 25px);
		}
	}
}
.person-img {
	line-height: 0;
	img {
		max-width: 100%;
	}
	@include desktop {
		text-align: center;
	}
}
.follow-us {
	@include rem(padding, 25px 0);
	@include desktop {
		background: #171719;
		padding: 0 0 25px;
	}
}
.sidebar-lang {
	position: absolute;
	@include rem(top, 5px);
	@include rem(right, 15px);
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		display: inline-block;
	}
}


// sidebar small
// width
// @media screen and (min-width: $desktop) and (max-width: 1366px) and (max-height: 950px) {
// 	body {
// 	  @include sidebar-sm;
// 	}
// }

// height
// @media screen and (min-height: 768px) and (max-height: 950px) and (min-width: $desktop) {
// 	body {
// 	  @include sidebar-sm;
// 	}
// }