.tags {
	@include rem(margin-top, 15px);
  @include rem(margin-left, -5px);
  @include rem(margin-right, 30px);
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		float: left;
		@include rem(margin, 0 5px);
	}
	a {
		display: inline-block;
		text-decoration: none;
		color: $text-color;
    background-color: #f2f2f2;
    @include rem(padding, 0 15px);
    @include rem(font-size, 13px);
    &:hover {
    	background-color: darken(#f2f2f2, 5%);
    }
	}
}
.tags-dark {
	a {
		background-color: #e5e5e5;
    &:hover {
    	background-color: darken(#e5e5e5, 5%);
    }
	}
	@include rem(margin-bottom, 25px);
}